.tv-display {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #ccc;
}

.date {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  white-space: nowrap;
}

.time {
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  white-space: nowrap;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.horizontal-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 90px;
}

.now-serving-horizontal {
  flex: 1;
  border: 3px solid #f44336;
  background-color: #ffebee;
  border-radius: 10px;
  padding: 10px;
  margin: 0 20px;
  text-align: center;
}

.now-serving-horizontal .queue-number{  
  font-size: 80px; /* Bigger font for now serving number */
  color: #d32f2f; /* Darker red for emphasis */
  font-weight: bold;
  margin-bottom: 5px;
}

.waiting-completed {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Add space between "Waiting" and "Completed" sections */
  padding: 20px;
}

.waiting-left-side, .completed-section {
  flex: 1;
}

.section, .completed-section {
  border-radius: 10px;
  padding: 20px;
}


.waiting-left-side .section {
  border: 3px solid #4caf50;
  background-color: #ffffff;
}

.waiting-left-side .queue-item {
  padding: 10px;
  font-size: 20px;
  background-color: #c8e6c9;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.completed-section {
  border: 3px solid #ff9800;
  background-color: #ffffff;
}

.completed-item {
  padding: 10px;
  font-size: 20px;
  background-color: #ffe0b2;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
